<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>StripesFilter</filter-name>
		<filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
		<init-param>
			<param-name>ActionResolver.Packages</param-name>
			<param-value>org.karmaware.ccicv.web.action</param-value>
		</init-param>
		<init-param>
			<param-name>Extension.Packages</param-name>
			<param-value>org.karmaware.ccicv.web.extensions,org.karmaware.ccicv.web.reload.extensions,net.sourceforge.stripes.integration.spring
            	</param-value>
		</init-param>
		<init-param>
			<param-name>FileUpload.MaximumPostSize</param-name>
			<param-value>50mb</param-value>
		</init-param>
		<init-param>
			<param-name>LocalePicker.Locales</param-name>
			<param-value>es:ISO-8859-1</param-value>
		</init-param>
		<init-param>
			<param-name>Stripes.EncryptionKey</param-name>
			<param-value>T78TIoUHasCheYcXefw1JqAzhtTq6acI</param-value>
		</init-param>
	</filter>

	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<filter-mapping>
		<filter-name>StripesFilter</filter-name>
		<servlet-name>DispatcherServlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>App</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>experian</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-role>
		<role-name>experian</role-name>
	</security-role>
	<login-config>
		<auth-method>DIGEST</auth-method>
	</login-config>
</web-app>

